<div class="pull-right" ng-init="vm.animateOnShow()" ng-form="loginForm" id="loginFormWrapper">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">User Login</h4>
            </div>
            <div class="modal-body">
                <p>
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="user.email" required>
                </p>
                <p>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password" required>
                </p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-primary" ng-click="vm.animateOnExit($event)" type="button">Cancel</button>
                <button class="btn btn-warning" type="button" ng-click="vm.validateForm(user)">Login</button>
            </div>
        </div>
    </div>
</div>



